@import './_variables.scss';

.forest {
  width: 100%;
  background-color: $plain-background;
  @include center-flex;
  height: 20vh;
}
.trees{
  width: 500px;
}

.trees td {
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 4px;
}

.trees td img {
  // visibility: hidden;
  height: 100px;
}

.trees caption {
  margin-top: 10px;
  font-size: 16px;
  color: $primary-color;
}