@import './_variables.scss';

.forest {
  width: 100%;
  background-color: $plain-background;
  @include center-flex;
  height: 181px;
}

.trees td {
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 4px;
  border: 2px solid $primary-color;
}