@import './_variables.scss';

.header-container {
  @include center-flex
  background-color: $accent-color1;
  height: 10vh;
}

.header-text {
  text-align: center;
  color: $primary-color;
  margin: 0;
}


@media screen and (max-width: 900px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .header-text {
    text-align: center;
    margin: 0;
  }
}