@import './_variables.scss';

.name-forest-input {
  margin-right: 10px;
  padding: 8px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  color: $primary-color;
}

.submit-btn {
  @include primary-button;

  &:hover {
    @include hover-btn;
  }

  &:active {
    @include active-btn
  }
}